/*=============================================
=            General Styles block            =
=============================================*/
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
}

body {
	background-color: rgb(53, 53, 53);
	height: 100vh;
	font-family: 'JetBrains Mono', monospace;
}

button {
	text-decoration: none;
	border: none;
	background-color: transparent;
	font-family: inherit;
	padding: 0;
	cursor: pointer;
}

a:focus,
button:focus,
input:focus,
:focus {
	outline: none;
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            Containers and boxes section           =
=============================================*/

main {
	margin: 0 auto;
	max-width: 1200px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#FullContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 0;
	grid-template-areas:
		'PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer'
		'PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer'
		'PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer'
		'PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer'
		'PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer PlayerContainer'
		'Colors Colors Colors Colors Colors Colors Colors Colors Colors';

	width: 80%;
	height: auto;
}

#Colors {
	grid-area: Colors;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 2em;
	margin-top: 0.5em;
	border-radius: 15px;
	background-color: #0a090854;
	border: solid black 2px;
	transition: 1s;
}

#Colors:hover {
	background-color: #0a0908b0;
	transition: 1s;
}

#PlayerContainer {
	grid-area: PlayerContainer;
	display: flex;

	backdrop-filter: blur(2px);
	height: 400px;
}

#TrackContainer {
	width: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'TrackDisplay TrackDisplay TrackDisplay'
		'LyricsDisplay LyricsDisplay LyricsDisplay'
		'LyricsDisplay LyricsDisplay LyricsDisplay'
		'LyricsDisplay LyricsDisplay LyricsDisplay';
}

#Input {
	padding: 2em;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #0a090854;
	border-radius: 15px;
	margin-left: 1em;
	border: solid black 2px;
	transition: 1s;
}

#Input:hover {
	background-color: #0a0908b0;
	transition: 1s;
}

#TrackDisplay {
	grid-area: TrackDisplay;
	margin-bottom: 1em;
	border-radius: 15px;
	border: solid black 2px;
	color: white;
}

#LyricsDisplay {
	grid-area: LyricsDisplay;
}

#btns-container {
	grid-area: btns-container;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.lyrics {
	height: 100%;
	background-color: #0a09088b;
	overflow: scroll;
	padding: 1em;
	border-radius: 15px;
	border: solid black 2px;
}

#embedded-iframe {
	min-height: 100%;
	min-width: 100%;
}
/*=====  End of Section comment block  ======*/

/*=============================================
=            Form Section block            =
=============================================*/

h2 {
	text-align: center;
	color: white;
	font-weight: 700;
	margin-bottom: 1em;
}

label {
	display: block;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	color: white;
	align-self: flex-start;
}

input {
	width: 100%;
	padding: 5px;
	font-size: 15px;
	border-width: 0px;
	border-color: #cccccc;
	background-color: #ffffff;
	color: #000000;
	border-style: solid;
	border-radius: 35px;
	padding: 0.5em;
}

input:hover {
	outline: 2px solid #2a9d8f;
	background-color: #ebebeb;
	transition: 0.2s;
}

input:focus {
	border: 2px solid #2a9d8f;
	background-color: #ebebeb;
	transition: 0.2s;
}

#Search {
	display: block;
	width: 100%;
	font-size: 25px;
	background-color: #cc2854;
	color: #000000;
	border-radius: 35px;
	cursor: pointer;
	margin-top: 2em;
	transition: 0.2s ease-out;
}

#Search:hover {
	transform: scale(1.1);
	transition: 0.6s ease-in-out;
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            Buttons Section            =
=============================================*/

.Color {
	border-radius: 15px;
	cursor: pointer;
	color: #ffffff;
	font-size: 18px;
	padding: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

.btn-color {
	background-color: #18ab29;
	border-radius: 50px;
	cursor: pointer;
	color: #ffffff;
	font-size: 50px;
	padding: 0.5em;
}

.colorOne {
	background-color: red;
	transition: 0.8s ease-out;
}

.colorOne:hover {
	background-color: #fd6c6c;
	transform: scale(2.5);
	transition: 0.3s ease-in;
}
.colorOne:active {
	position: relative;
	top: 1px;
}

.colorTwo {
	background-color: blue;
	transition: 0.8s ease-out;
}

.colorTwo:hover {
	background-color: #5653ff;
	transform: scale(2.5);
	transition: 0.3s ease-in;
}
.colorTwo:active {
	position: relative;
	top: 1px;
}

.colorThree {
	background-color: green;
	transition: 0.8s ease-out;
}

.colorThree:hover {
	background-color: #2cd665;
	transform: scale(2.5);
	transition: 0.3s ease-in;
}
.colorThree:active {
	position: relative;
	top: 1px;
}

.colorFour {
	background-color: yellow;
	transition: 0.8s ease-out;
}

.colorFour:hover {
	background-color: #ddfa3b;
	transform: scale(2.5);
	transition: 0.3s ease-in;
}
.colorFour:active {
	position: relative;
	top: 1px;
}

.colorFive {
	background-color: purple;
	transition: 0.8s ease-out;
}

.colorFive:hover {
	background-color: #82248f;
	transform: scale(2.5);
	transition: 0.3s ease-in;
}
.colorFive:active {
	position: relative;
	top: 1px;
}
/*=====  End of Section comment block  ======*/
